extends layout 

block content 
    h1 Title: #{title}

    p #[strong Category: ]
        a(href=item.category.url) #{item.category.name} 
    p #[strong Description:] #{item.description}
    p #[strong Price:] $#{item.price}
    p #[strong Number in stock:] #{item.number_in_stock}

    if item.number_in_stock > 0
        p(style='font-size: 1.2rem;color:green') Available
    else
        p(style='font-size: 1.2rem;color:red') Not in store

    hr
    p 
<<<<<<< HEAD
=======
        a(href=item.url+'/update') Update Item  
    p 
>>>>>>> update
        a(href=item.url+'/delete') Delete Item 